<div class="container">
  <div class="row">
    <div class="col col-md-2">
      <span class="glyphicon glyphicon-list"></span>
      <span>List View</span>
    </div>
    <div class="col col-md-3 addCustomer" ng-click="vm.addContact()">
      <span class="glyphicon glyphicon-plus"></span>
      <span>Add Contact</span>
    </div>
    <div class="col col-md-4 col-md-offset-1 ">
      <label for="search">Search</label>
      <input type="text"  class="input-control" ng-model="vm.searchText" id ="search" />
    </div>
  </div>
</div>
